# setuptools_scm version discovery writes the version to <pkg>/_version.py
**/_version.py

# idk why this exists. probably jon's vimrc
'

*.py[cod]

# C extensions
*.so
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
.coverage*

# Installer logs
pip-log.txt

# Print Logs
logs

# Unit test / coverage reports
.coverage
.tox
htmlcov
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.DS_Store
*.dump.txt
*.sqlite3

# profiler
*.lprof
*.prof

# Test data
#vtool/tests/testdata*
test_data*.shelf
ibeis/model/detect/rf
tmp.py

*.flann
*.npz

vtool/*_cython.c
src/cpp/sver/config.h

_test_times.txt

failed.txt

# utool output
_test_times.txt
failed.txt

# Cyth
*_cyth.pyx
*_cyth.pxd
*_cyth.pyd
*_cyth.so
*_cyth.c
*_cyth.html
*_cyth_bench.py
run_cyth_benchmarks.sh
run_cyth_benchmarks.py

*.orig
_doc
test_times.txt

failed_doctests.txt
vtool/libsver.dll
vtool/libsver.dll.a
vtool/libsver.dylib
timeings.txt

Dockerfile*
_skbuild/*
opencv-docker-tag.txt
