name: Build and upload to PyPI

# Build on every branch push, tag push, and pull request change:
on: push

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 2
      matrix:
        os: [ubuntu-18.04, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.6'

      - name: Install cibuildwheel
        run: |
          python -m pip install cibuildwheel==1.4.2

      - name: Install MacPorts
        if: ${{ runner.os == 'macOS' }}
        uses: medengineer/actions/setup-macports@master

      - name: Cache OpenCV dependency for macOS
        if: ${{ runner.os == 'macOS' }}
        uses: actions/cache@v2
        env:
          cache-name: cache-opencv
        with:
          path: |
            /opt/opencv
            ~/opencv
            ~/opencv_contrib
          # The key based on the file hash of the build script
          # i.e. changing OPENCV_VERSION within the script will invalidate the cache
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('scripts/_install_opencv_*_on_macos.sh') }}

      - name: Build wheels
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: wildme/manylinux:latest
          CIBW_BUILD: cp36-manylinux_x86_64 cp36-macosx_x86_64
          # Script to prepare the macos environment
          CIBW_BEFORE_BUILD_MACOS: bash scripts/ci_prepare_macos_for_build.sh
        run: |
          python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.6'

      - name: Build sdist
        run: |
          pip install scikit-build
          python setup.py sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    # upload to PyPI on every tag starting with 'v'
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    # alternatively, to publish when a GitHub Release is created, use the following rule:
    # if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
          # To test: repository_url: https://test.pypi.org/legacy/
